<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159943127152-8b6pq5gdp80eujpt4a3pfp5og54ahl3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159943127152-8b6pq5gdp80eujpt4a3pfp5og54ahl3b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>159943127152-olaov2r902jusqroen1vt2uaaahndnta.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZDAfUmUZeRKNRm5G_fNvzMxkDRATEtfM</string>
	<key>GCM_SENDER_ID</key>
	<string>159943127152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.epredict</string>
	<key>PROJECT_ID</key>
	<string>epredict-50546</string>
	<key>STORAGE_BUCKET</key>
	<string>epredict-50546.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159943127152:ios:d3327c66ddba2874c644b5</string>
	<key>DATABASE_URL</key>
	<string>https://epredict-50546-default-rtdb.firebaseio.com</string>
</dict>
</plist>